body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50; /* Dominujący zielony */
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#aktualnosci {
    text-align: center;
    background-color: #e0f2e7; /* Jaśniejszy odcień zieleni */
    color: #388e3c;
}

#aktualnosci .data {
    font-weight: bold;
    margin-bottom: 5px;
}

#aktualnosci .wolne-pokoje {
    font-size: 1.2em;
}

#informacje ul, #lokalizacja ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    background-color: #388e3c; /* Ciemniejszy odcień zieleni */
    color: white;
    text-align: center;
    padding: 1em;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Responsywność */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0.5em 0;
    }
}